<main>
    <div class="chapter-wrapper container my-5">
        <a href="#" class="text-decoration-none">
            <h1 class="text-center text-success">Kiếm Lai</h1>
        </a>
        <a href="#" class="text-decoration-none">
            <p class="text-center text-dark">Chương 1: Kinh Trập(1)</p>
        </a>
        <hr class="chapter-start container-fluid">
        <div class="chapter-nav text-center">
            <div class="chapter-actions chapter-actions-origin d-flex align-items-center justify-content-center">
                <a class="btn btn-success me-1 chapter-prev" href="#" title="">
                    <span>Chương trước</span>
                </a>
                <button class="btn btn-success chapter_jump me-1" data-story-id="3" data-slug-chapter="chuong-1"
                    data-slug-story="Kiếm Lai">
                    <span>
                        <svg style="fill: #fff;" xmlns="http://www.w3.org/2000/svg" height="1em"
                            viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z">
                            </path>
                        </svg>
                    </span>
                </button>

                <div class="dropdown select-chapter me-1 d-none">
                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Chọn chương
                    </a>

                    <ul class="dropdown-menu select-chapter__list" aria-labelledby="dropdownMenuLink">

                    </ul>
                </div>
                <a class="btn btn-success chapter-next" href="" title="">
                    <span>Chương tiếp</span>
                </a>
            </div>
        </div>
        <hr class="chapter-end container-fluid">

        <div class="chapter-content mb-3">
            <div class="visible-md visible-lg ads-responsive incontent-ad" id="ads-chapter-pc-top" align-items="center"
                style="height:90px">
            </div>
            2 tháng 2, Long Sĩ Đầu.
            <br>
            <br>
            Hoàng hôn, địa phương yên tĩnh trong trấn nhỏ tên là ngõ Nê Bình, có thiếu niên gầy ốm lẻ loi hiu quạnh, lúc
            này hắn đang dựa theo thói quen, một tay cầm ngọn nến, một tay cầm cành đào, chiếu rọi căn phòng, vách
            tường, giường gỗ các chỗ, dùng cành đào gõ đánh, ý đồ mượn cái này khu đuổi rắn rết, miệng lẩm bẩm, là cách
            ngôn trấn nhỏ này đời đời truyền xuống: 2 tháng 2, chiếu sáng nhà, đào đánh tường, rắn rết nhân gian không
            chỗ nấp.
            <br>
            <br>
            Thiếu niên họ Trần, danh Bình An, cha mẹ sớm qua đời. Trấn nhỏ đồ sứ rất nổi danh, bản triều khai quốc tới
            nay, đã đảm đương trọng trách "Phụng chiếu nung đồ cúng tế hiến lăng", có quan viên triều đình hàng năm trú
            đóng nơi đây, quản lý sự vụ. Thiếu niên không chỗ dựa, từ rất sớm đã là một diêu tượng nung sứ, khởi điểm
            chỉ có thể làm chút việc nặng vặt vãnh, đi theo một sư phụ nửa đường tính tình khó chịu, vất vả nhịn vài
            năm, vừa mới thu được một chút đường lối về nung sứ, kết quả thế sự vô thường, trấn nhỏ đột nhiên mất đi lá
            bùa hộ mệnh nung sứ này, mấy chục cái lò nung hình như rồng nằm quanh thân trấn nhỏ, trong một đêm toàn bộ
            bị quan phủ cưỡng chế đóng cửa tắt lửa.
            <br>
            <br>
            Trần Bình An buông cành đào mới bẻ, thổi tắt ngọn nến, đi ra khỏi phòng, ngồi ở bậc thềm, ngửa đầu nhìn,
            tinh không lấp lánh.
            <br>
            <br>
            Thiếu niên đến nay vẫn nhớ rõ ràng, lão sư phụ chỉ chịu nhận mình là nửa đồ đệ kia, họ Diêu, ở sáng sớm tàn
            thu năm trước, bị người phát hiện ngồi ở trên một cái ghế trúc nhỏ, hướng đầu về phía lò nung, nhắm mắt.
            <br>
            <br>
            Nhưng người để tâm vào chuyện vụn vặt như một người thợ già như vậy, chung quy là số ít.
            <br>
            <br>
            Trấn nhỏ thợ thủ công đời đời chỉ biết nung sứ, vừa không dám đi quá giới hạn đi nung hàng cống phẩm, lại
            không dám mang đồ sứ cất trong kho ra buôn bán với dân chúng, chỉ phải đều tìm đường ra khác, Trần Bình An
            mười bốn tuổi cũng bị đuổi ra khỏi nhà, sau khi trở lại ngõ Nê Bình, tiếp tục thủ cái nhà cũ sớm rách nát
            không chịu nổi này, cảnh tượng không sai biệt lắm là chỉ có bốn bức tường ảm đạm, đó là Trần Bình An muốn
            làm bại gia tử, cũng không muốn ở.
            <br>
            <br>
            Làm một đoạn thời gian cô hồn dã quỷ bay tới bay đi, thiếu niên thật sự tìm không được nghề nghiệp để kiếm
            tiền, dựa vào về chút tích góp ít ỏi, thiếu niên miễn cưỡng lấp đầy bụng, mấy ngày hôm trước nghe nói ở ngõ
            kỵ long ngoài phố, đến một lão thợ rèn họ Nguyễn vùng người, đối ngoại tuyên bố muốn thu bảy tám học đồ gõ
            sắt, không cho tiền công, nhưng quản cơm, Trần Bình An đã nhanh chạy tới tìm vận khí, chưa từng nghĩ lão
            nhân chỉ liếc mắt nhìn hắn, đã mang hắn cự ở ngoài cửa, lúc ấy Trần Bình An đã rất buồn, chẳng lẽ cái chuyện
            gõ sắt này, không phải xem lực cánh tay lớn nhỏ, mà là xem tướng mạo tốt xấu sao?
            <br>
            <br>
            Phải biết rằng Trần Bình An tuy nhìn gầy yếu, nhưng khí lực không thể khinh thường, đây là thiếu niên từ nhỏ
            đã được rèn luyện trụ cột thân thể, trừ cái đó ra, Trần Bình An còn đi theo họ Diêu lão nhân, chạy khắp núi
            núi sông sông phạm vi trăm dặm khắp trấn nhỏ, biết tư vị các loại thổ nhưỡng bốn phía, chịu mệt nhọc, cái gì
            sống bẩn sống mệt đều nguyện ý làm, không chút nào chần chờ. Đáng tiếc lão Diêu thủy chung không thích Trần
            Bình An, ghét bỏ thiếu niên không có ngộ tính, là gỗ tạp không khai khiếu, xa xa không bằng đại đồ đệ Lưu
            Tiện Dương, cái này cũng trách không được lão nhân bất công, sư phụ đưa vào cửa, tu hành ở cá nhân, ví dụ
            như cùng là một cái chén đơn giản, Lưu Tiện Dương ngắn ngủn nửa năm công lực, đã ngang với tiêu chuẩn Trần
            Bình An vất vả ba năm.
            <br>
            <br>
            Tuy đời này cũng chưa chắc đã cần tới cái tay nghề này nữa, nhưng Trần Bình An vẫn giống như dĩ vãng, nhắm
            mắt lại, tưởng tượng trước người mình lại có bàn đá cùng bánh xe, bắt đầu luyện tập làm chén, quen tay hay
            việc.
            <br>
            <br>
            Đại khái qua mỗi một khắc, thiếu niên sẽ tạm nghỉ một chút, lắc lắc cổ tay, tuần hoàn lặp lại như thế, thẳng
            đến cả người hoàn toàn tinh bì lực tẫn, Trần Bình An lúc này mới đứng dậy, vừa tản bộ ở trong viện, vừa chậm
            rãi giãn ra gân cốt. Cho tới bây giờ không có ai dạy Trần Bình An cái này, là chính hắn tự tìm ra môn đạo.
            <br>
            <br>
            Trong thiên địa nguyên bản vạn vật yên tĩnh, Trần Bình An nghe được một tiếng cười châm chọc chói tai, dừng
            bước chân lại, quả nhiên, nhìn thấy bạn cùng lứa tuổi ngồi xổm trên đầu tường, nhếch miệng, không chút nào
            che dấu thần sắc khinh rẻ của hắn.
            <br>
            <br>
            Người này là hàng xóm cũ của Trần Bình An, nghe nói là con tư sinh Giam tạo đại nhân tiền nhiệm, vị đại nhân
            nọ e sợ bị thanh lưu cười chê, ngôn quan buộc tội, cuối cùng độc thân trở lại kinh thành báo cáo công tác,
            mang đứa nhỏ giao cho quan viên tiếp nhận chức vụ rất có quan hệ tình nghĩa cá nhân, giúp đỡ trông coi. Nay
            trấn nhỏ đã mất đi tư cách làm đồ sứ cho triều đình một cách khó hiểu, đốc tạo đại nhân phụ trách thay triều
            đình quản lý ở nơi này, chính mình cũng là Bồ Tát bùn qua sông bản thân khó bảo toàn, nào còn lo lắng con tư
            sinh đồng nghiệp quan trường, để lại một ít tiền mà cấp tốc chạy về kinh thành đả thông quan hệ.
            <br>
            <br>
            Thiếu niên hàng xóm bất tri bất giác đã trở thành thứ bị vứt bỏ, qua ngày thật ra vẫn khá thoải mái, cả ngày
            dẫn theo nha hoàn bên người, dạo chơi ở trong ngoài trấn nhỏ, quanh năm suốt tháng chơi bời lêu lổng, cũng
            chưa bao giờ từng vì tóc bạc mà quá sầu.
            <br>
            <br>
            Ngõ Nê Bình nhà nhà tường viện đất vàng đều rất thấp, thật ra thiếu niên hàng xóm không cần kiễng gót chân
            cũng có thể nhìn thấy cảnh tượng sân bên này, nhưng mỗi lần cùng Trần Bình An nói chuyện, cố tình thích ngồi
            xổm ở đầu tường.
            <br>
            <br>
            So sánh với Trần Bình An thô thiển tục khí, thì thiếu niên hàng xóm lịch sự tao nhã hơn rất nhiều, kêu Tống
            Tập Tân, ngay cả tỳ nữ cùng hắn sống nương tựa lẫn nhau, cũng xưng hô có vẻ nho nhã, Trĩ Khuê.
            <br>
            <br>
            Cô gái lúc này đứng ở bên kia tường viện, nàng có một đôi mắt hạnh, rụ rè sợ hãi.
            <br>
            <br>
            Bên kia cửa viện, có tiếng nói vang lên, "Tỳ nữ này của ngươi có bán hay không?"
            <br>
            <br>
            Tống Tập Tân ngẩn người, theo thanh âm quay đầu nhìn lại, là một thiếu niên cẩm y mặt mày mỉm cười, đứng ở
            ngoài viện, một gương mặt hoàn toàn xa lạ.
            <br>
            <br>
            Bên cạnh thiếu niên cẩm y đứng một vị lão giả thân hình cao lớn, khuôn mặt trắng nõn, sắc mặt hòa ái, nhẹ
            nhàng hí mắt đánh giá thiếu nhiên thiếu nữ trong hai tòa nhà giáp sân.
            <br>
            <br>
            Tầm mắt lão giả đảo qua Trần Bình An, cũng không đình trệ, nhưng mà ở trên người Tống Tập Tân cùng tỳ nữ,
            hơi có dừng lại, ý cười dần dần nồng đậm.
            <br>
            <br>
            Tống Tập Tân liếc mắt nói: "Bán! Sao lại không bán!"
            <br>
            <br>
            Thiếu niên nọ mỉm cười nói: "Vậy ngươi nói cái giá."
            <br>
            <br>
            Cô gái trừng lớn đôi mắt, vẻ mặt không thể tưởng tượng, giống một con nai con.
            <br>
            <br>
            Tống Tập Tân liếc cái xem thường, vươn một ngón tay, lắc lắc, "Bạc trắng một vạn lượng!"
            <br>
            <br>
            Thiếu niên cẩm y sắc mặt như thường, gật đầu nói: "Tốt."
            <br>
            <br>
            Tống Tập Tân thấy thiếu niên nọ bộ dáng không giống như là nói đùa, vội vàng sửa lời nói: "Là hoàng kim vạn
            lượng!"
            <br>
            <br>
            Thiếu niên cẩm y khóe miệng nhếch lên, nói: "Chọc ngươi thôi."
            <br>
            <br>
            Tống Tập Tân sắc mặt âm trầm.
        </div>

        <div class="text-center px-2 py-2 alert alert-success d-none d-lg-block" role="alert">
            Bạn có thể dùng phím mũi tên hoặc WASD để lùi/sang chương
        </div>
    </div>

    <div class="chapter-actions chapter-actions-mobile d-flex align-items-center justify-content-center">
        <a class="btn btn-success me-2 chapter-prev" href="#" title="">
            <span>Chương</span>trước
        </a>
        <button class="btn btn-success chapter_jump me-2" data-story-id="3" data-slug-chapter="chuong-1"
            data-slug-story="Kiem-lai">
            <span>
                <svg style="fill: #fff;" xmlns="http://www.w3.org/2000/svg" height="1em"
                    viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path
                        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z">
                    </path>
                </svg>
            </span>
        </button>

        <div class="dropup select-chapter me-2 d-none">
            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                aria-expanded="false">
                Chọn chương
            </a>

            <ul class="dropdown-menu select-chapter__list" aria-labelledby="dropdownMenuLink">

            </ul>
        </div>
        <a class="btn btn-success chapter-next" href="#" title="">
            <span>Chương </span>tiếp
        </a>
    </div>
</main>