<main>
    <div class="section-stories-hot mb-3">
        <div class="container">
            <div class="row">
                <div class="head-title-global d-flex justify-content-between mb-2">
                    <div class="col-6 col-md-4 col-lg-4 head-title-global__left d-flex align-items-center">
                        <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                            <a href="" class="d-block text-decoration-none text-dark fs-4 story-name">Truyện Hot</a>
                        </h2>
                        <i class="fa-solid fa-fire-flame-curved"></i>
                    </div>

                    <div class="col-4 col-md-3 col-lg-2">
                        <select name="" id="" class="form-select select-stories-hot" aria-label="Truyen hot">
                            <option selected="">Tất cả</option>
                            <option value="1">Ngôn Tình</option>
                            <option value="2">Trọng Sinh</option>
                            <option value="3">Cổ Đại</option>
                            <option value="4">Tiên Hiệp</option>
                            <option value="5">Huyền huyễn</option>
                            <option value="6">Khác</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="section-stories-hot__list">
                        <div class="story-item">
                            <a href="story.html" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/dau_la_dai_luc_ii_tuyet_the_duong_mon.jpg"
                                        alt="Đấu la đại lục II" class="img-fluid" width="150" height="230"
                                        loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Đấu la đại lục II</h3>

                                <div class="list-badge">
                                    <span class="story-item__badge badge text-bg-success">Full</span>
                                    <span
                                        class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    <span
                                        class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>
                                </div>
                            </a>
                        </div>
                        <div class="story-item">
                            <a href="story.html" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/dau_pha_thuong_khung.jpg" alt="Đấu phá thương khung"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Đấu phá thương khung</h3>

                                <div class="list-badge">
                                    <span class="story-item__badge badge text-bg-success">Full</span>
                                    <span
                                        class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    <span
                                        class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>
                                </div>
                            </a>
                        </div>
                        <div class="story-item">
                            <a href="story.html" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/de_ton.jpg" alt="Đế tôn" class="img-fluid"
                                        width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Đế tôn</h3>

                                <div class="list-badge">
                                    <span class="story-item__badge badge text-bg-success">Full</span>
                                    <span
                                        class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    <span
                                        class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>
                                </div>
                            </a>
                        </div>
                        <div class="story-item">
                            <a href="story.html" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/doc_ton_tam_gioi.jpg" alt="Độc tôn tam giới"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Độc tôn tam giới</h3>

                                <div class="list-badge">
                                    <span class="story-item__badge badge text-bg-success">Full</span>
                                    <span
                                        class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    <span
                                        class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>
                                </div>
                            </a>
                        </div>
                        <div class="story-item">
                            <a href="story.html" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/kiem_dong_cuu_thien.jpg" alt="Kiếm động cửu thiên"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Kiếm động cửu thiên</h3>

                                <div class="list-badge">
                                    <span class="story-item__badge badge text-bg-success">Full</span>
                                    <span
                                        class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    <span
                                        class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>
                                </div>
                            </a>
                        </div>
                        <div class="story-item">
                            <a href="story.html" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/linh_vu_thien_ha.jpg" alt="Linh vũ thiên hạ"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Linh vũ thiên hạ</h3>

                                <div class="list-badge">
                                    <span class="story-item__badge badge text-bg-success">Full</span>
                                    <span
                                        class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    <span
                                        class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>
                                </div>
                            </a>
                        </div>
                        <div class="story-item">
                            <a href="story.html" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/ngao_the_cuu_trong_thien.jpg"
                                        alt="Ngạo thế cửu trọng thiên" class="img-fluid" width="150" height="230"
                                        loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Ngạo thế cửu trọng thiên</h3>

                                <div class="list-badge">
                                    <span class="story-item__badge badge text-bg-success">Full</span>
                                    <span
                                        class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    <span
                                        class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>
                                </div>
                            </a>
                        </div>
                        <div class="story-item">
                            <a href="story.html" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/nguyen_ton.jpg" alt="Nguyên tôn" class="img-fluid"
                                        width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Nguyên tôn</h3>

                                <div class="list-badge">
                                    <span class="story-item__badge badge text-bg-success">Full</span>
                                    <span
                                        class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    <span
                                        class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>
                                </div>
                            </a>
                        </div>
                        <div class="story-item">
                            <a href="story.html" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/nhat_niem_vinh_hang.jpg" alt="Nhất niệm vĩnh hằng"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Nhất niệm vĩnh hằng</h3>

                                <div class="list-badge">
                                    <span class="story-item__badge badge text-bg-success">Full</span>
                                    <span
                                        class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    <span
                                        class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>
                                </div>
                            </a>
                        </div>
                        <div class="story-item">
                            <a href="story.html" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/tu_cam.jpg" alt="Tự cẩm" class="img-fluid"
                                        width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Tự cẩm</h3>

                                <div class="list-badge">
                                    <span class="story-item__badge badge text-bg-success">Full</span>
                                    <span
                                        class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    <span
                                        class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>
                                </div>
                            </a>
                        </div>
                        <div class="story-item">
                            <a href="story.html" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/pham_nhan_tu_tien.jpg" alt="Phàm nhân tu tiên"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Phàm nhân tu tiên</h3>

                                <div class="list-badge">
                                    <span class="story-item__badge badge text-bg-success">Full</span>
                                    <span
                                        class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    <span
                                        class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>
                                </div>
                            </a>
                        </div>
                        <div class="story-item">
                            <a href="story.html" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/than_dao_dan_ton.jpg" alt="Thần đạo đan tôn"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Thần đạo đan tôn</h3>

                                <div class="list-badge">
                                    <span class="story-item__badge badge text-bg-success">Full</span>
                                    <span
                                        class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    <span
                                        class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>
                                </div>
                            </a>
                        </div>
                        <div class="story-item">
                            <a href="story.html" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/the_gioi_hoan_my.jpg" alt="Thế giới hoàn mỹ"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Thế giới hoàn mỹ</h3>

                                <div class="list-badge">
                                    <span class="story-item__badge badge text-bg-success">Full</span>
                                    <span
                                        class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    <span
                                        class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>
                                </div>
                            </a>
                        </div>
                        <div class="story-item">
                            <a href="story.html" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/tien_nghich.jpg" alt="Tiên nghịch" class="img-fluid"
                                        width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Tiên nghịch</h3>

                                <div class="list-badge">
                                    <span class="story-item__badge badge text-bg-success">Full</span>
                                    <span
                                        class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    <span
                                        class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>
                                </div>
                            </a>
                        </div>
                        <div class="story-item">
                            <a href="story.html" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/tinh_than_bien.jpg" alt="Tinh thần biến"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Tinh thần biến</h3>

                                <div class="list-badge">
                                    <span class="story-item__badge badge text-bg-success">Full</span>
                                    <span
                                        class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    <span
                                        class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>
                                </div>
                            </a>
                        </div>
                        <div class="story-item">
                            <a href="story.html" class="d-block text-decoration-none">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/vu_dong_can_khon.jpg" alt="Vũ động càn khôn"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item__name text-one-row story-name">Vũ động càn khôn</h3>

                                <div class="list-badge">
                                    <span class="story-item__badge badge text-bg-success">Full</span>
                                    <span
                                        class="story-item__badge story-item__badge-hot badge text-bg-danger">Hot</span>
                                    <span
                                        class="story-item__badge story-item__badge-new badge text-bg-info text-light">New</span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="section-stories-hot__list wrapper-skeleton d-none">
                        <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                        <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                        <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                        <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                        <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                        <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                        <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                        <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                        <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                        <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                        <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                        <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                        <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                        <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                        <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                        <div class="skeleton" style="max-width: 150px; width: 100%; height: 230px;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-12 col-md-8 col-lg-9">
                <div class="section-stories-new mb-3">
                    <div class="row">
                        <div class="head-title-global d-flex justify-content-between mb-2">
                            <div class="head-title-global__left col-6 col-md-4 col-lg-4 d-flex align-items-center">
                                <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                                    <a href="#" class="d-block text-decoration-none text-dark fs-4 story-name"
                                        title="Truyện mới">
                                        Truyện mới
                                    </a>
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="section-stories-new__list">
                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Tiên võ truyền kỳ
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-danger text-light">Hot</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Tiên
                                                Hiệp</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Ngôn
                                                Tình</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 1458</a>
                                    </div>
                                </div>

                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Kiếm Động Cửu Thiên
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-info text-light me-1">New</span>
                                        <span class="badge text-bg-success text-light me-1">Full</span>
                                        <span class="badge text-bg-danger text-light">Hot</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Tiên
                                                Hiệp</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Kiếm
                                                Hiệp</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Dị
                                                Giới</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 1149</a>
                                    </div>
                                </div>

                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Tinh Thần Biến
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-info text-light me-1">New</span>
                                        <span class="badge text-bg-success text-light me-1">Full</span>
                                        <span class="badge text-bg-danger text-light">Hot</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Tiên
                                                Hiệp</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Kiếm
                                                Hiệp</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 671</a>
                                    </div>
                                </div>

                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Linh Vũ Thiên Hạ
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-info text-light me-1">New</span>
                                        <span class="badge text-bg-success text-light me-1">Full</span>
                                        <span class="badge text-bg-danger text-light">Hot</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Tiên
                                                Hiệp</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Dị
                                                Giới</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Huyền
                                                Huyễn</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 5024</a>
                                    </div>
                                </div>

                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Ta Dùng Toán Học Tranh Sủng Hậu Cung
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-info text-light me-1">New</span>
                                        <span class="badge text-bg-success text-light me-1">Full</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Ngôn
                                                Tình</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Xuyên
                                                Không</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 23</a>
                                    </div>
                                </div>

                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Bị Sói Con Cố Chấp Ngoạm Về Ổ
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-success text-light me-1">Full</span>
                                        <span class="badge text-bg-danger text-light me-1">Hot</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Ngôn
                                                Tình</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Tiên
                                                Hiệp</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 30</a>
                                    </div>
                                </div>

                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Phong Thần Châu
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-danger text-light me-1">Hot</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Tiên
                                                Hiệp</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Huyền
                                                Huyễn</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 3349</a>
                                    </div>
                                </div>

                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Tiên võ truyền kỳ
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-danger text-light">Hot</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Tiên
                                                Hiệp</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Ngôn
                                                Tình</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 1458</a>
                                    </div>
                                </div>

                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Kiếm Động Cửu Thiên
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-info text-light me-1">New</span>
                                        <span class="badge text-bg-success text-light me-1">Full</span>
                                        <span class="badge text-bg-danger text-light">Hot</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Tiên
                                                Hiệp</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Kiếm
                                                Hiệp</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Dị
                                                Giới</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 1149</a>
                                    </div>
                                </div>

                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Tinh Thần Biến
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-info text-light me-1">New</span>
                                        <span class="badge text-bg-success text-light me-1">Full</span>
                                        <span class="badge text-bg-danger text-light">Hot</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Tiên
                                                Hiệp</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Kiếm
                                                Hiệp</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 671</a>
                                    </div>
                                </div>

                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Linh Vũ Thiên Hạ
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-info text-light me-1">New</span>
                                        <span class="badge text-bg-success text-light me-1">Full</span>
                                        <span class="badge text-bg-danger text-light">Hot</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Tiên
                                                Hiệp</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Dị
                                                Giới</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Huyền
                                                Huyễn</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 5024</a>
                                    </div>
                                </div>

                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Ta Dùng Toán Học Tranh Sủng Hậu Cung
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-info text-light me-1">New</span>
                                        <span class="badge text-bg-success text-light me-1">Full</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Ngôn
                                                Tình</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Xuyên
                                                Không</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 23</a>
                                    </div>
                                </div>

                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Bị Sói Con Cố Chấp Ngoạm Về Ổ
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-success text-light me-1">Full</span>
                                        <span class="badge text-bg-danger text-light me-1">Hot</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Ngôn
                                                Tình</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Tiên
                                                Hiệp</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 30</a>
                                    </div>
                                </div>

                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Phong Thần Châu
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-danger text-light me-1">Hot</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Tiên
                                                Hiệp</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Huyền
                                                Huyễn</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 3349</a>
                                    </div>
                                </div>

                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Phong Thần Châu
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-danger text-light me-1">Hot</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Tiên
                                                Hiệp</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Huyền
                                                Huyễn</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 3349</a>
                                    </div>
                                </div>

                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Phong Thần Châu
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-danger text-light me-1">Hot</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Tiên
                                                Hiệp</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Huyền
                                                Huyễn</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 3349</a>
                                    </div>
                                </div>

                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__name d-flex align-items-center">
                                        <h3 class="me-1 mb-0 d-flex align-items-center">
                                            <svg style="width: 10px; margin-right: 5px;"
                                                xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                <path
                                                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z">
                                                </path>
                                            </svg>
                                            <a href="#"
                                                class="text-decoration-none text-dark fs-6 hover-title text-one-row story-name">
                                                Phong Thần Châu
                                            </a>
                                        </h3>
                                        <span class="badge text-bg-danger text-light me-1">Hot</span>
                                    </div>

                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0">
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Tiên
                                                Hiệp</a>
                                            <a href="#"
                                                class="hover-title text-decoration-none text-dark category-name">Huyền
                                                Huyễn</a>
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__chapter ms-2">
                                        <a href="#" class="hover-title text-decoration-none text-info">Chương 3349</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-3 sticky-md-top">
                <div class="row">
                    <div class="col-12">
                        <div class="section-list-category bg-light p-2 rounded card-custom">
                            <div class="head-title-global mb-2">
                                <div class="head-title-global__left col-12 col-md-12">
                                    <h2 class="mb-0 border-bottom border-secondary pb-1">
                                        <span href="#" class="d-block text-decoration-none text-dark fs-4"
                                            title="Truyện đang đọc">Thể loại truyện</span>
                                    </h2>
                                </div>
                            </div>

                            <div class="row">
                                <!-- Horizontal under breakpoint -->
                                <ul class="list-category">
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Ngôn Tình</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Trọng Sinh</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Cổ Đại</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Tiên Hiệp</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Ngược</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Khác</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Dị Giới</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Huyền
                                            Huyễn</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Xuyên Không</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Sủng</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Cung Đấu</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Gia Đấu</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Điền Văn</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Đô Thị</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Truyện Teen</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Hài Hước</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Kiếm Hiệp</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Đông Phương</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Trinh Thám</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Quan Trường</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Linh Dị</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Đam Mỹ</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Quân Sự</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Khoa Huyễn</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Mạt Thế</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Xuyên Nhanh</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Hệ Thống</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="text-decoration-none text-dark hover-title">Nữ Cường</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-stories-full mb-3 mt-3">
        <div class="container">
            <div class="row">
                <div class="head-title-global d-flex justify-content-between mb-2">
                    <div class="head-title-global__left col-12 col-md-4 d-flex">
                        <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                            <span class="title-head-name d-block text-decoration-none text-dark fs-4"
                                title="Truyện đã hoàn thành">
                                Truyện đã hoàn thành
                            </span>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="section-stories-full__list">
                        <div class="story-item-full text-center">
                            <a href="#" class="d-block story-item-full__image">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/dau_la_dai_luc_ii_tuyet_the_duong_mon.jpg"
                                        alt="Đấu la đại lục II" class="img-fluid" width="150" height="230"
                                        loading="lazy">
                                </div>
                                <h3 class="story-item-full__name fs-6 fw-bold text-center mb-0">
                                    <a href="" class="text-decoration-none text-one-row story-name">
                                        Đấu la đại lục II
                                    </a>
                                </h3>
                                <span class="story-item-full__badge badge text-bg-success">Full - 836 chương</span>
                            </a>
                        </div>
                        <div class="story-item-full text-center">
                            <a href="#" class="d-block story-item-full__image">
                                <div class="story-item__image">
                                    <img src="./src/public/imgstory/dau_pha_thuong_khung.jpg" alt="Đấu phá thương khung"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item-full__name fs-6 fw-bold text-center mb-0">
                                    <a href="" class="text-decoration-none text-one-row story-name">
                                        Đấu phá thương khung
                                    </a>
                                </h3>
                                <span class="story-item-full__badge badge text-bg-success">Full - 836 chương</span>
                            </a>
                        </div>
                        <div class="story-item-full text-center">
                            <a href="#" class="d-block story-item-full__image">
                                <div class="story-item__image">
                                    <img src="./src/public/imgstory/de_ton.jpg" alt="Đế tôn" class="img-fluid"
                                        width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item-full__name fs-6 fw-bold text-center mb-0">
                                    <a href="" classtext-decoration-none text-one-row story-name="">
                                        Đế tôn
                                    </a>
                                </h3>
                                <span class="story-item-full__badge badge text-bg-success">Full - 836 chương</span>
                            </a>
                        </div>
                        <div class="story-item-full text-center">
                            <a href="#" class="d-block story-item-full__image">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/doc_ton_tam_gioi.jpg" alt="Độc tôn tam giới"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item-full__name fs-6 fw-bold text-center mb-0">
                                    <a href="" class="text-decoration-none text-one-row story-name">
                                        Độc tôn tam giới
                                    </a>
                                </h3>
                                <span class="story-item-full__badge badge text-bg-success">Full - 836 chương</span>
                            </a>
                        </div>
                        <div class="story-item-full text-center">
                            <a href="#" class="d-block story-item-full__image">
                                <div class="story-item__image">
                                    <img src="../public/img/story/kiem_dong_cuu_thien.jpg" alt="Kiếm động cửu thiên"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item-full__name fs-6 fw-bold text-center mb-0">
                                    <a href="" class="text-decoration-none text-one-row story-name">
                                        Kiếm động cửu thiên
                                    </a>
                                </h3>
                                <span class="story-item-full__badge badge text-bg-success">Full - 836 chương</span>
                            </a>
                        </div>
                        <div class="story-item-full text-center">
                            <a href="#" class="d-block story-item-full__image">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/linh_vu_thien_ha.jpg" alt="Linh vũ thiên hạ"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item-full__name fs-6 fw-bold text-center mb-0">
                                    <a href="" class="text-decoration-none text-one-row story-name">
                                        Linh vũ thiên hạ
                                    </a>
                                </h3>
                                <span class="story-item-full__badge badge text-bg-success">Full - 836 chương</span>
                            </a>
                        </div>
                        <div class="story-item-full text-center">
                            <a href="#" class="d-block story-item-full__image">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/ngao_the_cuu_trong_thien.jpg"
                                        alt="Ngạo thế cửu trọng thiên" class="img-fluid" width="150" height="230"
                                        loading="lazy">
                                </div>
                                <h3 class="story-item-full__name fs-6 fw-bold text-center mb-0">
                                    <a href="" class="text-decoration-none text-one-row story-name">
                                        Ngạo thế cửu trọng thiên
                                    </a>
                                </h3>
                                <span class="story-item-full__badge badge text-bg-success">Full - 836 chương</span>
                            </a>
                        </div>
                        <div class="story-item-full text-center">
                            <a href="#" class="d-block story-item-full__image">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/nguyen_ton.jpg" alt="Nguyên tôn" class="img-fluid"
                                        width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item-full__name fs-6 fw-bold text-center mb-0">
                                    <a href="" class="text-decoration-none text-one-row story-name">
                                        Nguyên tôn
                                    </a>
                                </h3>
                                <span class="story-item-full__badge badge text-bg-success">Full - 836 chương</span>
                            </a>
                        </div>
                        <div class="story-item-full text-center">
                            <a href="#" class="d-block story-item-full__image">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/nhat_niem_vinh_hang.jpg" alt="Nhất niệm vĩnh hằng"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item-full__name fs-6 fw-bold text-center mb-0">
                                    <a href="" class="text-decoration-none text-one-row story-name">
                                        Nhất niệm vĩnh hằng
                                    </a>
                                </h3>
                                <span class="story-item-full__badge badge text-bg-success">Full - 836 chương</span>
                            </a>
                        </div>
                        <div class="story-item-full text-center">
                            <a href="#" class="d-block story-item-full__image">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/tu_cam.jpg" alt="Tự cẩm" class="img-fluid"
                                        width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item-full__name fs-6 fw-bold text-center mb-0">
                                    <a href="" classtext-decoration-none text-one-row story-name="">
                                        Tự cẩm
                                    </a>
                                </h3>
                                <span class="story-item-full__badge badge text-bg-success">Full - 836 chương</span>
                            </a>
                        </div>
                        <div class="story-item-full text-center">
                            <a href="#" class="d-block story-item-full__image">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/pham_nhan_tu_tien.jpg" alt="Phàm nhân tu tiên"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item-full__name fs-6 fw-bold text-center mb-0">
                                    <a href="" class="text-decoration-none text-one-row story-name">
                                        Phàm nhân tu tiên
                                    </a>
                                </h3>
                                <span class="story-item-full__badge badge text-bg-success">Full - 836 chương</span>
                            </a>
                        </div>
                        <div class="story-item-full text-center">
                            <a href="#" class="d-block story-item-full__image">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/than_dao_dan_ton.jpg" alt="Thần đạo đan tôn"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item-full__name fs-6 fw-bold text-center mb-0">
                                    <a href="" class="text-decoration-none text-one-row story-name">
                                        Thần đạo đan tôn
                                    </a>
                                </h3>
                                <span class="story-item-full__badge badge text-bg-success">Full - 836 chương</span>
                            </a>
                        </div>
                        <div class="story-item-full text-center">
                            <a href="#" class="d-block story-item-full__image">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/the_gioi_hoan_my.jpg" alt="Thế giới hoàn mỹ"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item-full__name fs-6 fw-bold text-center mb-0">
                                    <a href="" class="text-decoration-none text-one-row story-name">
                                        Thế giới hoàn mỹ
                                    </a>
                                </h3>
                                <span class="story-item-full__badge badge text-bg-success">Full - 836 chương</span>
                            </a>
                        </div>
                        <div class="story-item-full text-center">
                            <a href="#" class="d-block story-item-full__image">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/tien_nghich.jpg" alt="Tiên nghịch" class="img-fluid"
                                        width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item-full__name fs-6 fw-bold text-center mb-0">
                                    <a href="" class="text-decoration-none text-one-row story-name">
                                        Tiên nghịch
                                    </a>
                                </h3>
                                <span class="story-item-full__badge badge text-bg-success">Full - 836 chương</span>
                            </a>
                        </div>
                        <div class="story-item-full text-center">
                            <a href="#" class="d-block story-item-full__image">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/tinh_than_bien.jpg" alt="Tinh thần biến"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item-full__name fs-6 fw-bold text-center mb-0">
                                    <a href="" class="text-decoration-none text-one-row story-name">
                                        Tinh thần biến
                                    </a>
                                </h3>
                                <span class="story-item-full__badge badge text-bg-success">Full - 836 chương</span>
                            </a>
                        </div>
                        <div class="story-item-full text-center">
                            <a href="#" class="d-block story-item-full__image">
                                <div class="story-item__image">
                                    <img src="./src/public/img/story/vu_dong_can_khon.jpg" alt="Vũ động càn khôn"
                                        class="img-fluid" width="150" height="230" loading="lazy">
                                </div>
                                <h3 class="story-item-full__name fs-6 fw-bold text-center mb-0">
                                    <a href="" class="text-decoration-none text-one-row story-name">
                                        Vũ động càn khôn
                                    </a>
                                </h3>
                                <span class="story-item-full__badge badge text-bg-success">Full - 836 chương</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>