<main>
    <div class="container bg-light">
        <div class="row align-item-start">
            <div class="mt-4">
                <h3>Đăng truyện</h3>
                <form method="POST" action="/story-store">
                    <div class="form-group mt-4">
                        <label for="name">Tên truyện</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>

                    <div class="form-group mt-4">
                        <label for="author">Tác giả</label>
                        <input type="text" class="form-control" id="author" name="author">
                    </div>

                    <div class="form-group mt-4">
                        <label for="image">Hình ảnh</label>
                        <input type="text" class="form-control" id="image" name="image">
                    </div>

                    <div class="form-group mt-4">
                        <label for="description">Mô tả</label>
                        <textarea class="form-control" id="description" name="description" rows="3"></textarea>   
                    </div>

                    <div class="form-group mt-4">
                        <label for="type">Thể loại</label>
                        <div class="row justify-content-start">
                            <div class="col-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="Tiên Hiệp" id="type" name="type">
                                    <label class="form-check-label" for="type">
                                        Tiên Hiệp
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="Trọng Sinh" id="type" name="type">
                                    <label class="form-check-label" for="type">
                                        Trọng Sinh
                                    </label>
                                </div>
                                <div class="form-check" id="type" name="type">
                                    <input class="form-check-input" type="checkbox" value="Huyền Huyễn" id="type" name="type">
                                    <label class="form-check-label" for="type">
                                        Huyền Huyễn
                                    </label>
                                </div>
                                <div class="form-check" id="type" name="type">
                                    <input class="form-check-input" type="checkbox" value="Cổ Đại" id="type" name="type">
                                    <label class="form-check-label" for="type">
                                        Cổ Đại
                                    </label>
                                </div>
                                <div class="form-check" id="type" name="type">
                                    <input class="form-check-input" type="checkbox" value="Đô Thị" id="type" name="type">
                                    <label class="form-check-label" for="type">
                                        Đô Thị
                                    </label>
                                </div>
                                <div class="form-check" id="type" name="type">
                                    <input class="form-check-input" type="checkbox" value="Hệ Thống" id="type" name="type">
                                    <label class="form-check-label" for="type">
                                        Hệ Thống
                                    </label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check" id="type" name="type">
                                    <input class="form-check-input" type="checkbox" value="Kiếm Hiệp" id="type" name="type">
                                    <label class="form-check-label" for="type">
                                        Kiếm Hiệp
                                    </label>
                                </div>
                                <div class="form-check" id="type" name="type">
                                    <input class="form-check-input" type="checkbox" value="Ngôn Tình" id="type" name="type">
                                    <label class="form-check-label" for="type">
                                        Ngôn Tình
                                    </label>
                                </div>
                                <div class="form-check" id="type" name="type">
                                    <input class="form-check-input" type="checkbox" value="Xuyên Không" id="type" name="type">
                                    <label class="form-check-label" for="type">
                                        Xuyên Không
                                    </label>
                                </div>
                                <div class="form-check" id="type" name="type">
                                    <input class="form-check-input" type="checkbox" value="Light Novel" id="type" name="type">
                                    <label class="form-check-label" for="type">
                                        Light Novel
                                    </label>
                                </div>
                                <div class="form-check" id="type" name="type">
                                    <input class="form-check-input" type="checkbox" value="Mạt Thế" id="type" name="type">
                                    <label class="form-check-label" for="type">
                                        Mạt Thế
                                    </label>
                                </div>
                                <div class="form-check" id="type" name="type">
                                    <input class="form-check-input" type="checkbox" value="Khác" id="type" name="type">
                                    <label class="form-check-label" for="type">
                                        Khác
                                    </label>
                                </div>
                            </div>
                        </div>     
                    </div>

                    <div class="form-group mt-4">
                        <label for="status">Trạng Thái</label>
                        <select class="form-select" id="status" name="status" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">Hoàn Thành</option>
                            <option value="2">Đang ra</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4 mb-4">Đăng truyện</button>
                </form>
            </div>
        </div>
    </div>
</main>