<main>
    {{!-- <input type="hidden" id="story_slug" value="Kiem-Lai"> --}}
    <div class="container">
        <div class="row align-items-start">
            <div class="col-12 col-md-7 col-lg-8">
                <div class="head-title-global d-flex justify-content-between mb-4">
                    <div class="head-title-global__left d-flex col-12 col-md-12 col-lg-4">
                        <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                            <span class="title-head-name d-block text-decoration-none text-dark fs-4"
                                title="Thông tin truyện">
                                Thông tin truyện
                            </span>
                        </h2>
                    </div>
                </div>
                <div class="story-detail">
                    <div class="story-detail__top d-flex align-items-start">
                        <div class="row align-items-start">
                            <div class="col-12 col-md-12 col-lg-3 story-detail__top--image">
                                <div class="book-3d">
                                    <img src="img/story/Kiém-Lai.jpg" alt="Kiem-Lai" class="img-fluid w-100"
                                        width="300" height="200" loading="lazy">
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-9">
                                <h3 class="story-name text center">Kiếm Lai</h3>
                                <div class="rate-story mb-2">
                                    <div class="rate-story__holder" data-score="8.3">
                                        <img alt="1" src="img/star-on.png">
                                        <img alt="2" src="img/star-on.png">
                                        <img alt="3" src="img/star-on.png">
                                        <img alt="4" src="img/star-on.png">
                                        <img alt="5" src="img/star-on.png">
                                        <img alt="6" src="img/star-on.png">
                                        <img alt="7" src="img/star-on.png">
                                        <img alt="8" src="img/star-half.png">
                                        <img alt="9" src="img/star-off.png">
                                        <img alt="10" src="img/star-off.png">
                                    </div>
                                    <em class="rate-story__text"></em>
                                    <div class="rate-story__value" itemprop="aggregateRating" itemscope=""
                                        itemtype="https://schema.org/AggregateRating">
                                        <em>
                                            Đánh giá:
                                            <strong>
                                                <span itemprop="ratingValue">8.3</span>
                                            </strong>
                                            /
                                            <span class="" itemprop="bestRating">10</span>
                                            từ
                                            <strong>
                                                <span itemprop="ratingCount">415</span>
                                                lượt
                                            </strong>
                                        </em>
                                    </div>
                                </div>
                                <div class="story-detail__top--desc show-full px-3" style="max-height: 285px;">
                                    <p>
                                        Thế giới rộng lớn, không gì là không có. Ta - Trần Bình An - chỉ có một kiếm, có
                                        thể san bằng núi, khuấy đảo biển, hàng phục yêu, trấn áp ma, phong thần, hái
                                        sao, cắt sông, phá thành, khai thiên!<br>
                                        <br>
                                        p/s: giới thiệu tưởng yy vô địch lưu các thứ nhưng mà không phải đâu, truyện đọc
                                        max hay và hấp dẫn, đứng top 1 đề cử bên Tung Hoành (zongheng) rất nhiều tháng
                                        liền, luôn trong top 5 truyện tiên hiệp trên mạng hay nhất từ trước đến giờ.<br>
                                        <br>
                                        p/s 2: KHÔNG trùng sinh, KHÔNG hệ thống, KHÔNG não tàn, KHÔNG vô hạn hưu, KHÔNG
                                        phải loại làm ruộng, luyện đan hoặc cắn thuốc lên level ầm ầm, và KHÔNG BIẾT sau
                                        này có hậu cung hay không nhưng nhân vật chính đến 50 tuổi vẫn còn trinh.<br>
                                        <br>
                                        p/s 3: nhân vật cả chính và phụ đều rất đặc sắc không phải loại bình hoa hay IQ
                                        âm vô cực cho main hành, không khí truyện thay đổi thường xuyên, nhiều tình
                                        huống "thực tế", hài, nhiều lúc cảm động, nhiều lúc làm người ta suy ngẫm, plot
                                        twist khá nhiều và hay.<br>
                                        <br>
                                        p/s 4 : truyện được tác giả lồng ghép nhiều triết lý, tư tưởng khá hay, mới lạ
                                        và độc đáo của nhiều nhân vật nổi tiếng có thật trong lịch sử bên Trung
                                        Quốc.<br>
                                        <br>
                                        p/s 5: truyện chưa chắc đã phù hợp với những ai tìm kiếm sự nhẹ nhàng hài hước
                                        xuyên suốt từng chương, ngoài ra truyện nhiều lúc đọc khá khó hiểu về nội dung
                                        hoặc do phong cách viết của tác giả/ trình độ converter.
                                    </p>
                                </div>

                                <div class="info-more">
                                    <div class="info-more--more" id="info_more">
                                        <span class="me-1 text-dark">Xem Thêm</span>
                                        <svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M7.70749 7.70718L13.7059 1.71002C14.336 1.08008 13.8899 0.00283241 12.9989 0.00283241L1.002 0.00283241C0.111048 0.00283241 -0.335095 1.08008 0.294974 1.71002L6.29343 7.70718C6.68394 8.09761 7.31699 8.09761 7.70749 7.70718Z"
                                                fill="#2C2C37">
                                            </path>
                                        </svg>
                                    </div>

                                    <a href="story.html#info_more"
                                        class="info-more--collapse text-decoration-none active">
                                        <span class="me-1 text-dark">Thu gọn</span>
                                        <svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M7.70749 0.292817L13.7059 6.28998C14.336 6.91992 13.8899 7.99717 12.9989 7.99717L1.002 7.99717C0.111048 7.99717 -0.335095 6.91992 0.294974 6.28998L6.29343 0.292817C6.68394 -0.097606 7.31699 -0.0976055 7.70749 0.292817Z"
                                                fill="#2C2C37">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="story-detail__bottom mb-3">
                        <div class="row">
                            <div class="story-detail__bottom--info col-12 col-md-12 col-lg-3">
                                <p class="mb-1">
                                    <strong>Tác giả: </strong>
                                    <a href="#" class="text-decoration-none text-dark hover-title">Phong Hỏa Hí Chư
                                        Hầu</a>
                                </p>
                                <div class="d-flex align-items-center mb-1 flex-wrap">
                                    <strong class="me-1">Thể loại:</strong>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <a href="category.html" class="text-decoration-none text-dark hover-title me-1"
                                            style="width: max-content;">Tiên Hiệp,</a>
                                        <a href="category.html" class="text-decoration-none text-dark hover-title me-1"
                                            style="width: max-content;">Kiếm Hiệp,</a>
                                        <a href="category.html" class="text-decoration-none text-dark hover-title me-1"
                                            style="width: max-content;">Huyền Huyễn,</a>
                                        <a href="category.html" class="text-decoration-none text-dark hover-title me-1"
                                            style="width: max-content;">Khác</a>
                                    </div>
                                </div>
                                <p class="mb-1">
                                    <strong>Trạng thái:</strong>
                                    <span class="text-info">Đang ra</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="story-detail__list-chapter">
                        <div class="head-title-global d-flex justify-content-between mb-4">
                            <div class="col-6 col-md-12 col-lg-4 head-title-global__left d-flex">
                                <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                                    <span href="#" class="d-block text-decoration-none text-dark fs-4 title-head-name"
                                        title="Truyện hot">Danh sách chương</span>
                                </h2>
                            </div>
                        </div>

                        <div class="story-detail__list-chapter--list">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-lg-6 story-detail__list-chapter--list__item">
                                    <ul>
                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 1: Kinh trập (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 2: Kinh trập (2)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 3: Mở cửa</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 4: Mặt trời mọc (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 5: Mặt trời mọc (2)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 1: Kinh trập (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 2: Kinh trập (2)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 3: Mở cửa</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 4: Mặt trời mọc (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 5: Mặt trời mọc (2)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 1: Kinh trập (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 2: Kinh trập (2)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 3: Mở cửa</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 4: Mặt trời mọc (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 5: Mặt trời mọc (2)</a>
                                        </li>
                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 1: Kinh trập (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 2: Kinh trập (2)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 3: Mở cửa</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 4: Mặt trời mọc (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 5: Mặt trời mọc (2)</a>
                                        </li>
                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 1: Kinh trập (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 2: Kinh trập (2)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 3: Mở cửa</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 4: Mặt trời mọc (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 5: Mặt trời mọc (2)</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-6 story-detail__list-chapter--list__item">
                                    <ul>
                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 1: Kinh trập (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 2: Kinh trập (2)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 3: Mở cửa</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 4: Mặt trời mọc (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 5: Mặt trời mọc (2)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 1: Kinh trập (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 2: Kinh trập (2)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 3: Mở cửa</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 4: Mặt trời mọc (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 5: Mặt trời mọc (2)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 1: Kinh trập (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 2: Kinh trập (2)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 3: Mở cửa</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 4: Mặt trời mọc (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 5: Mặt trời mọc (2)</a>
                                        </li>
                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 1: Kinh trập (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 2: Kinh trập (2)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 3: Mở cửa</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 4: Mặt trời mọc (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 5: Mặt trời mọc (2)</a>
                                        </li>
                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 1: Kinh trập (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 2: Kinh trập (2)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 3: Mở cửa</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 4: Mặt trời mọc (1)</a>
                                        </li>

                                        <li>
                                            <a href="/chapter" class="text-decoration-none text-dark hover-title"
                                                style="font-size: 0.9rem;">Chương 5: Mặt trời mọc (2)</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagination" style="justify-content: center;">
                        <ul>
                            <li class="pagination__item page-current">
                                <a href="" class="page-link story-ajax-paginate" data-url=""
                                    style="cursor: pointer;">1</a>
                            </li>
                            <li class="pagination__item">
                                <a href="" class="page-link story-ajax-paginate" data-url=""
                                    style="cursor: pointer;">2</a>
                            </li>

                            <div class="dropup-center dropup choose-paginate me-1">
                                <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Chọn trang
                                </button>

                                <div class="dropdown-menu">
                                    <input type="number" class="form-control input-paginate me-1" value="">
                                    <button class="btn btn-success btn-go-paginate">Đi</button>
                                </div>
                            </div>

                            <li class="pagination__arrow pagination__item">
                                <a href=""
                                    class="text-decoration-none w-100 h-100 d-flex justify-content-center align-items-center story-ajax-paginate"
                                    data-url="" style="cursor: pointer;">
                                    &gt;&gt;
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-5 col-lg-4 sticky-md-top">
                <div class="row top-ratings">
                    <div class="col-12 top-ratings__tab mb-2">
                        <div class="list-group d-flex flex-row" id="list-tab" role="tablist">
                            <a href="" class="list-group-item list-group-item-action active" id="top-day-list"
                                data-bs-toggle="list" role="tab" aria-controls="top-day" aria-selected="true">Ngày</a>

                            <a href="" class="list-group-item list-group-item-action" id="top-month-list"
                                data-bs-toggle="list" role="tab" aria-controls="top-day" aria-selected="false"
                                tabindex="-1">Tháng</a>

                            <a href="" class="list-group-item list-group-item-action" id="top-all-time-list"
                                data-bs-toggle="list" role="tab" aria-controls="top-day" aria-selected="false"
                                tabindex="-1">All time</a>
                        </div>
                    </div>

                    <div class="col-12 top-ratings__content">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="top-day" role="tabpanel"
                                aria-labelledby="top-day-list">
                                <ul>
                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-danger rounded-circle">
                                                <span class="text-light">1</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Linh Vũ Thiên Hạ
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Dị
                                                        giới,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Xuyên
                                                        không</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-success rounded-circle">
                                                <span class="text-light">2</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Thần Đạo Đan Tôn
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-info rounded-circle">
                                                <span class="text-light">3</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Mê Vợ Không Lối về
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngôn
                                                        Tình,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngược,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Sủng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">4</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Đấu phá thương khung
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Dị
                                                        giới,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">5</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Thế Giới Hoàn Mỹ
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Kiếm
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">6</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Cô Vợ Ngọt Ngào Có Chút Bất Lương
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngôn
                                                        Tình,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Trọng
                                                        Sinh,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Sủng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">7</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Phàm Nhân Tu Tiên
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Kiếm
                                                        Hiệp</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">8</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Nhất Niệm Vĩnh Hằng
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">9</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Đế Bá
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">10</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Rể Qúy Trời Cho
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngôn
                                                        Tình,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Đô
                                                        Thị</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-pane fade" id="top-month" role="tabpanel" aria-labelledby="top-month-list">
                                <ul>
                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-danger rounded-circle">
                                                <span class="text-light">1</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Linh Vũ Thiên Hạ
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Dị
                                                        giới,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Xuyên
                                                        không</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-success rounded-circle">
                                                <span class="text-light">2</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Thần Đạo Đan Tôn
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-info rounded-circle">
                                                <span class="text-light">3</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Mê Vợ Không Lối về
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngôn
                                                        Tình,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngược,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Sủng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">4</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Đấu phá thương khung
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Dị
                                                        giới,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">5</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Thế Giới Hoàn Mỹ
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Kiếm
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">6</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Cô Vợ Ngọt Ngào Có Chút Bất Lương
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngôn
                                                        Tình,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Trọng
                                                        Sinh,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Sủng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">7</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Phàm Nhân Tu Tiên
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Kiếm
                                                        Hiệp</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">8</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Nhất Niệm Vĩnh Hằng
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">9</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Đế Bá
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">10</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Rể Qúy Trời Cho
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngôn
                                                        Tình,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Đô
                                                        Thị</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-pane fade" id="top-all-time" role="tabpanel"
                                aria-labelledby="top-all-time-list">
                                <ul>
                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-danger rounded-circle">
                                                <span class="text-light">1</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Linh Vũ Thiên Hạ
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Dị
                                                        giới,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Xuyên
                                                        không</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-success rounded-circle">
                                                <span class="text-light">2</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Thần Đạo Đan Tôn
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-info rounded-circle">
                                                <span class="text-dark">3</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Đấu phá thương khung
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Dị
                                                        giới,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">4</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Cô Vợ Ngọt Ngào Có Chút Bất Lương
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Ngôn
                                                        Tình,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Trọng
                                                        Sinh,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Sủng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">5</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Phàm Nhân Tu Tiên
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Kiếm
                                                        Hiệp</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">6</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Nhất Niệm Vĩnh Hằng
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">7</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Đế Bá
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">8</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Vũ Động Càn Khôn
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="rating-item d-flex align-items-center">
                                            <div class="rating-item__number bg-light rounded-circle">
                                                <span class="text-dark">9</span>
                                            </div>
                                            <div class="rating-item__story">
                                                <a href=""
                                                    class="rating-item__story--name text-decoration-none hover-title text-one-row">
                                                    Độc Tôn Tam Giới
                                                </a>
                                                <div class="rating-item__story--categories">
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Tiên
                                                        Hiệp,</a>
                                                    <a href=""
                                                        class="text-decoration-none text-dark hover-title me-1">Huyền
                                                        Huyễn</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-list-category bg-light p-2 rounded card-custom">
                    <div class="head-title-global mb-2">
                        <div class="col-12 col-md-12 head-title-global__left">
                            <h2 class="mb-0 border-bottom border-secondary pb-1">
                                <span href="#" class="d-block text-decoration-none text-dark fs-4"
                                    title="Truyện đang đọc">Thể loại truyện</span>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Horizontal under breakpoint -->
                        <ul class="list-category">
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Ngôn Tình</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Trọng Sinh</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Cổ Đại</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Tiên Hiệp</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Ngược</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Khác</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Dị Giới</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Huyền Huyễn</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Xuyên Không</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Sủng</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Cung Đấu</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Gia Đấu</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Điền Văn</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Đô Thị</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Truyện Teen</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Hài Hước</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Kiếm Hiệp</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Đông Phương</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Trinh Thám</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Quan Trường</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Linh Dị</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Đam Mỹ</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Quân Sự</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Khoa Huyễn</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Mạt Thế</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Xuyên Nhanh</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Hệ Thống</a>
                            </li>
                            <li class="">
                                <a href="" class="text-decoration-none text-dark hover-title">Nữ Cường</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>